.landing-container
  width: 100%
  flex: 1
  background: $skyblue

  .landing-content
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center
    height: 100%
    cursor: pointer
    overflow: hidden
    @media (min-width: $desktop)
      padding-top: 3rem

    img
      max-width: 100%
